---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Formulario from "../components/Formulario.astro";
---

<Base>
  <Nav />
  <Formulario/>
    <h3 class="font-serif text-3xl text-center mt-4 mb-8">Social Media</h3>

  <div class="flex justify-center mt-8 gap-8">
  <a target="_blank" href="https://www.instagram.com/paulaecheguiabroker/"><span class="inline-block w-8 h-8 md:w-10 md:h-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="100%" height="100%">
    <rect x="2" y="2" width="20" height="20" rx="5" ry="5" stroke="#d4ae6d" stroke-width="1.6" fill="none"/>
    <circle cx="12" cy="11.5" r="3" stroke="#d4ae6d" stroke-width="1.6" fill="none"/>
    <circle cx="17.2" cy="6.8" r="0.9" fill="#d4ae6d"/>
    </svg>
  </span></a>

  <a target="_blank" href=""><span class="inline-block w-8 h-8 md:w-10 md:h-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%" fill="#d4ae6d">
    <rect x="2" y="2" width="20" height="20" rx="4" ry="4" stroke="#d4ae6d" stroke-width="1.6" fill="none"/>
    <path d="M15.5 3H13c-2.76 0-4 1.79-4 4v2H6v3h3v7h3v-7h2.21l.79-3H12V7.2c0-.86.4-1.2 1.28-1.2H16V3z" fill="#d4ae6d"/>
    </svg>
  </span></a>

</div>

  <Footer />
</Base>
