<footer class="bg-gray-900 text-gray-300 text-sm mt-16">
  <div class="flex justify-center">
    <div class="max-w-6xl mx-auto px-4 py-10 grid md:grid-cols-3 gap-8">

      <!-- Navegación -->
    <nav class="space-y-2 text-center md:text-left">
  <a href="/" class="block hover:underline">Home</a>
  <a href="/about" class="block hover:underline">About</a>
  <a href="/insights" class="block hover:underline">Insights</a>
  <a href="/contact" class="block hover:underline">Contact</a>
</nav>


      <!-- Logo + texto centrados -->
      <div class="flex flex-col items-center text-center">
       <img 
  src="https://firebasestorage.googleapis.com/v0/b/canteras-nini.appspot.com/o/PaulaBB%2FLogoPE.png?alt=media&token=9a75ee1f-a1bb-4e07-8052-f8e4de82fbd5"
  alt="Paula Echeguia Business Broker"
  class="h-[180px] w-auto md:h-[100px] lg:h-[140px] object-contain mb-4"
/>
        <p class="mb-2">© 2025 Paula Echeguia. All rights reserved.</p>
        <p class="text-xs">[Confidentiality disclaimer placeholder]</p>
      </div>

      <!-- Imagen sfma -->
      <div class="flex justify-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/canteras-nini.appspot.com/o/PaulaBB%2Fsmfam.jpg?alt=media&token=1b5a0733-e727-4617-8871-17fe06b1280f"
          alt="Paula Echeguia Business Broker"
          class="h-16 w-auto md:h-20 lg:h-22 object-contain rounded-sm"
        />
      </div>

    </div>
  </div>
</footer>
